.cardLoading {
    background-color: var(--primary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.title {
    position: absolute;
    height: 5vh;
    top: 30vh;
    width: 100vw;
    text-align: center;
    font-size: 5em;
    z-index: 5;
    color: var(--primary);
}

#center {
    background-color: var(--secondary);
}

.map {
    width: 100%;
    height: 100%;    
}